
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.single-viewer {
  height: 32px;
  margin: 16px;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

#nav{
  display:"flex" !important;
  flex-direction:"row";
  padding:0;
  height:"100%"
 
}

